
body, html{
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}

/* NAVBAR */

.big-box{
    width: 100%;
    max-width: 100%;
    height: 35rem;
    margin: 0 auto;
    background-color: #fff;
}

.big-box nav{
    border-radius: 12px;
}

nav{
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nombre{
    font-weight: bold;
    margin: 0  0 0;
    width: 100%;
    display: flex;
   justify-content: space-between;
}

.nombre li {
    list-style: none;
    display: inline-block;
    margin: 0 70px 0 0;
}

.nombre a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
}



/* IMAGEN DE FONDO */

.img-box{
    width: 100%;
    height: 24rem;
    background-image: url(img/santiago1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CAJA PEQUEÑA */

.box-small{
    width: 75%;
    background-color: #fff;
    margin: auto;
    margin-top: -8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    padding: 10px;
}



.box-small p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}

.box-small a{
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
}

.box-small a:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s ease-in;
}

.relevante-information{
    width: 80%;
    height: auto;
}


/*CAJA DE INFORMACION*/


.informacion{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informacion h2{
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.informacion img{
    width: 20%;
    margin: 10px;
}

.imagenes {
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.imagenes img {
    width: 20%; 
    height: auto;
}


/* CAJA ACERCA DE MI */

.about-me{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 20px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: space-between; /*Espacio entre elementos de extremos a extremo*/ 
    align-items: center;
    flex-direction: row; /*alinea los elementos en fila para que queden alineados*/
}

.about-me h2{
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.about-me-text{
    width: 40%;
    float: center;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 5rem;
}

.about-me-img{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}

.about-me-img img{
    border-radius: 70%;
    width: 80%;
    height: 32rem;

}


/*MEDIAS*/

@media (max-width: 768px) { /*Aplica el media cuando el ancho de la pantalla sea igual o menor a el valor*/
    nav{
        flex-direction: column;
        align-items: start;
    }
    .big-box{
        width: 100%;
        height: auto;
    }
    .img-box{
        width: 100%;
        height: 20rem;
    }
    .box-small{
        width: 90%;
        height: auto;
    }
    .relevante-information p{
        font-size: 1.5rem;
    }
    .informacion img{
        width: 50%;
        margin-bottom: 2rem;
    }
    .imagenes img {
        width: 50%; 
        height: auto;
    }
    .about-me{
        text-align: center;
        flex-direction: column;
    }
    .about-me-img img{
        width: 80%;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .about-me-text {
        margin-left: -1rem;
        margin-right: -1rem;
        width: 70%;
    }
}

@media (max-width: 480px) {
    .big-box{
        width: 100%;
        height: auto;
    }
    .img-box{
        width: 100%;
        height: 20rem;
    }
    .box-small{
        width: 90%;
        height: auto;
    }
    .relevante-information p{
        font-size: 1.5rem;
    }
    .informacion img{
        width: 80%;
    }
    .informacion h2{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .imagenes img {
        width: 90%; 
        height: auto;
    }
    .relevante-information {
        padding: 10px;
        font-size: 1rem;
    }
    .informacion img{
        margin-bottom: 2rem;
    }
    .informacion{
        width: 100%;
    }
    .about-me{
        width: 100%;
    }
}